// Style bullet list
.au-c-bullet-list {
  list-style: disc;
  margin-left: $au-unit-small + $au-unit-tiny;
}

// Utility for making something its full width
.full-width {
  width: 100%;
}

// Hide overflow from grid
.overflow-hidden {
  overflow: hidden;
}

.u-whitespace-pre-line {
  white-space: pre-line;
}

// Override button color with something green
// TODO: do we need this? It doesn't match Webuniversum's style guide?
.au-c-button--green {
  &,
  &:visited {
    background-color: #518216;
    border: $au-button-border solid #518216;
  }

  &:hover,
  &:focus {
    background-color: #497414;
  }

  &:active {
    background-color: #518216;
  }
}
