<AuAlert
  class="au-u-margin-tiny"
  @icon="check"
  @title="Bericht verzonden"
  @skin="success"
>
  <p>
    Bedankt voor uw bericht. U krijgt een bevestiging op het opgegeven
    mailadres.
  </p>
</AuAlert>

{{outlet}}